.lessonPage {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentenceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.sentence {
  font-size: 50px;
  margin: 0px 0px;
}

.answerContainer {
  height: 50px;
  margin: 50px 0px;
}

.answer {
  font-size: 50px;
}

.correct {
  font-size: 50px;
  color: rgb(46, 125, 50);
}

.words {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 100px;
  gap: 0px 50px;
}

.pagination :nth-child(2n) {
  margin: 0px 10px;
}